body{
    background-color: hsl(197, 100%, 50%);
}


h5{
    color: aliceblue;

}

p{
    color: blanchedalmond;
}


footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(255, 0, 0);
    color: white;
  }